<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Java Deez Nuts - Learn Java in a like a chad">
    <meta property="og:description"
        content="Learn Java in very funny way like real chad with dank jokes and vary funny content. I will teach u everything from basics to making apps in java.">
    <meta property="og:image" content="https://slang.net/img/slang/lg/deez_nuts_4727.jpg">
    <meta property="og:url" content="https://gigacat.dev/">
    <meta property="og:type" content="website">
    <meta name="keywords"
        content="Java, programming, coding, learn Java, Java tutorials, fun coding, humorous programming, gigacat, dank java,java for dank">

    <title>{{.Title}} - Java Deez Nuts</title>
    <link rel="icon" type="image/svg" href="/static/favicon.svg">

    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="stylesheet" href="/static/styles/navigation.css">

    <!-- Include Highlight.js and your existing CSS styles -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/tokyo-night-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/x86asm.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        });
    </script>

    <link href="https://api.fontshare.com/v2/css?f[]=general-sans@500,1,2,401,400,700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navigation bar -->
    <nav>
        <div class="navbar-left">
            <a href="/"><span class="site-name">Java Deez Nuts</span></a>
        </div>
        <div class="navbar-middle">
            <input type="text" class="search-bar" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="navbar-right">
            <a href="https://discord.gg/FqSrM3Rp5y" target="_blank" class="discord-thing">[Discord]</a>
        </div>
    </nav>

    <div class="container">
        <div id="content">
            {{ .Content }}
        </div>
    </div>

</body>

</html>