<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} - Java Deez Nuts</title>
    <link rel="icon" type="image/svg" href="/static/favicon.svg">
    
    <link rel="preload" href="styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="styles.css"></noscript> 

    <link rel="preload" href="navigation.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="navigation.css"></noscript> 
    
    <!-- Include Highlight.js and your existing CSS styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/tokyo-night-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/x86asm.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        });
    </script>
</head>
<body>
    <!-- Navigation bar -->
    <nav>
        <div class="navbar-left">
            <a href="/"><span class="site-name">Java Deez Nuts</span></a>
        </div>
        <div class="navbar-middle">
            <input type=    "text" class="search-bar" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>
        <div class="navbar-right">
            <a href="https://discord.gg/Q3BE9azyPr" target="_blank" class="discord-thing">[Discord]</a>
        </div>
    </nav>

    <div class="container">
        <div id="content">
            {{ .Content }}
        </div>
    </div>

</body>
</html>
